body {
    background: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    text-align: center;
    background: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
}
